$primaryBtn: blue;
$textColor: black;
$btntxtColor: white;
$textDecoration: none;

body {
    font-family: 'Nunito', sans-serif;
    color: $textColor;
  }
  h1, h2 {
    text-align: center;
  }
  h1 {
    font-size: 200%;
  }
  h2 {
    font-size: 110%;
    font-weight: 100;
  }
  p {
    text-align: center;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    li {
      display: inline-block;
      margin: 0 1em 1em 0;
      }
     a {
         text-decoration: $textDecoration;
         color: $textColor;
     }
  }
  .signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .signup__contact {
    display: flex;
    flex-direction: column;
  }
  .signup__btn {
    display: flex;
    position: relative;
    left: 65px;
    margin-top: 10px;
  }
  .hero__video {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero__header {
    line-height: 0;
  }
  .nav__btn-sch {
    border-radius: 6px;
    background-color:$primaryBtn;
    padding: 0.5em;
    width: 9em;
    text-align: center;
    display: inline-block;
    color: $btntxtColor;
    cursor: pointer;
  }
  .submit__btn {
    background-color: $primaryBtn;
    text-decoration: none;
    color: white;
    padding: 0.5em;
    border-radius: 6px;
    width: 8em;
    text-align: center;
    display: inline-block;
  } 
  .signup form input[type=submit] {
    border: none;
    background-color: $primaryBtn;
    text-decoration: none;
    color: $btntxtColor;
    padding: 0.5em;
    border-radius: 6px;
    width: 8em;
    text-align: center;
    font-size: .8rem;
    cursor: pointer;
}
.info {
  display: flex;
  flex-direction: column;
}
.info__kenzie {
  display: flex;
  flex-direction: column;
}
.info__card {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: auto;
  grid-template-areas:
   ". icon icon ."
   ". icon icon icon"
   ". header . .";
  width: 2em;
}
.team__header {
  grid-area: header;
}
.fas {
  grid-area: icon;
}
.hero {
  display: flex;
  flex-direction: column;
}