body {
  font-family: 'Nunito', sans-serif;
  color: black;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 110%;
  font-weight: 100;
}

p {
  text-align: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  padding-left: 20px;
}

nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 .30em .30em .5em;
  font-size: 12px;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

.nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 5px;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 65px;
  margin-top: 10px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
}

.hero__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0;
  margin-bottom: 15px;
}

.nav__btn-sch {
  border-radius: 6px;
  background-color: blue;
  padding: 0.5em;
  width: 9em;
  text-align: center;
  display: inline-block;
  color: white;
  cursor: pointer;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.submit__btn {
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border-radius: 6px;
  width: 8em;
  text-align: center;
  display: inline-block;
}

.signup form input[type=submit] {
  border: none;
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border-radius: 5px;
  width: 8em;
  text-align: center;
  font-size: .8rem;
  cursor: pointer;
  margin-bottom: 1em;
  margin-left: 1.7em;
}

.signup h3 {
  margin: .5rem;
}

.signup p {
  margin-bottom: 2rem;
}

.signup__name input,
.signup__contact input {
  border-style: solid;
  padding: 10px;
  margin: .5em;
}

.info__students {
  margin-bottom: .5rem;
}

.std__para {
  margin-bottom: .5rem;
}

.info__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__kenzie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__people {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fas {
  font-size: 2rem;
  width: 1em;
  margin: 0.3em;
}

.card__foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */